body {
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}
#shape {
    width: 200px;
    height: 200px;
    background-color: #ff006a;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#colorValue{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
}
button {
    padding: 8px 20px;
    background-color: #4c8eaf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #4562a0;
}